body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #ffffff;
    font-size: 14px;
}

/* ------TYPOGRAPHY--------- */
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

h1 {
    font-size: 2rem;
}
.movie-info p,
.movie-info button,
.movie-summary,
.movie-ratings{
    font-size: 0.8rem;
}

.movie-summary {
    font-weight: 200;
}

/* ------CONTENTS --------- */
button {
    cursor: pointer;
}

input,
button {
    font-family: inherit;
}

a {
    color: whitesmoke;
    font-size: 0.7rem;
    padding: 0.5em 1em;
    text-align: center;
    background-color: #45613e;
    text-decoration: none;
    border-radius: 1em;
}

a:hover, a:active {
    background-color: #5a7d4c;
}

.header {
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('images/filmposters.jpg') center/cover no-repeat;
}

.container {
    max-width: 470px;
    margin: 0 auto;
    padding: 0 2em;
}
.header-container,
.search-container,
.movies-container,
.movie-header,
.movie-info,
.movie-desc {
    display: flex;
}

.header-container,
.movie-info {
    align-items: center;
}

.header-container,
.movie-info,
.movie-desc {
    justify-content: space-between;
}

.header-container {
    padding: 1.5em 0;
    height: 100px;
    gap: 1em;
}

.movie-header {
    flex-direction: column;
}
.search-container {
    position: sticky;
    margin-top: -0.8em;
    justify-content: center;
}

.input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.input-container input {
    padding: 8px 8px 8px 30px; 
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    }

.input-container input:focus {
    box-shadow: 0px 0px 2px 2px  rgba(62, 130, 241, 1);
    outline: none;
}

.search-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    width: 100px;
    background: #222;
    color: white;
    border-radius: 0 4px 4px 0;
}

.search-button:hover,
.search-button:active {
    background: #515151;
}


.movies-container {
    margin-top: 2.5em;
    gap: 1.5em;
    padding-bottom: 3em;
}
.movies-container:not(:last-child) {
    border-bottom: 1px solid #8e8e8e;
}

.movie-poster {
    width: 100px;
    object-fit: cover;
    aspect-ratio: 2/3;
}

.movie-info {
    gap: 0.8em;
}

.watchlist-button {
    background: none;
    border: none;
    color: white;
}

.watchlist-button:hover,
.watchlist-button:active {
    transform: scale(1.1);
}

.watchlist-button i{
    color: #121212;
    background-color: #ffffff;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 50%;
    text-shadow: 2px 2px 5px black;
}

.watchlist-button i:hover,
.watchlist-button i:active {
    background-color: #e2e2e2;
}

.movie-desc {
    flex-direction: column;
    gap: 0.8em;
}
.loading {
  width: 48px;
  height: 48px;
  border: 4px solid #ccc;
  border-top: 4px solid #f9d342; 
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 5.71em auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-text {
    text-align: center;
    font-size: 1rem;
    color: #bbbbbb;
    margin-top: -4.2em;
    margin-left: 1em;
}

.start-exploring{
    text-align: center;
    color: #bbbbbb;
    margin: 10em 2em;
    opacity: 0.5;
}

.start-exploring i {
    font-size: 4rem;
    margin-bottom: 0.2em;
}
.start-exploring-text {
    font-size: 1rem;
    font-weight: 900;
}
.add-movies {
    margin: -8em 4em 5.71em 4em;
    padding: 0.5em;
    background-color: #282828;
    border-radius: 1em;
    text-align: center;
}

.add-movies a {
    background-color: inherit;
    font-weight: 900;
}

.remove-button {
    color: whitesmoke;
    background: none;
    border: none;
}